@import './variables.css';
.toc {
  position: fixed;
  top: 15vh;
  padding: 8px;
  width: 240px;
  background-color: var(--secondary-background-color);
  border-radius: 6px;
  box-shadow: 2px 2px 5px var(--box-shadow-color);
}

.toc-item {
  margin-top: 6px;
  margin-bottom: 6px;
  list-style: inside "🔗 ";
}

.post-title {
  font-family: 'LibreBaskervilleBold', sans-serif;
  box-shadow: inset 0 -0.35em 0 rgba(252, 169, 15, 0.5);
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: inline;
}

.nav-bar {
  padding: 0.8rem 2rem;
}

.header-title > div {
  font-family: 'LibreBaskervilleBold', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.header-title > span {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin-top: 4px;
}

.header-button {
  background: transparent;
  text-decoration: none;
  color: var(--text-color);
  outline: none;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-button:hover {
  background: var(--hover-color);
}

.header-button:active {
  background: var(--active-color);
}

.tag-item {
  padding: 4px;
  border-radius: 4px;
  background: transparent;
  margin-right: 4px;
}

.tag-item:hover {
  background: var(--hover-color);
}

.tag-item:active {
  background: var(--active-color);
}

.pagination-button {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: var(--text-color);
  text-decoration: none;
}

.pagination-button:hover {
  background: var(--hover-color);
}

.pagination-button:active, .active {
  background: var(--active-color);
}

.about-page {
  margin-left: 18%;
  margin-right: 18%;
}

.page-container {
  padding-top: 12px;
}

.page-container-m {
  padding-top: 12px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.about-link {
  color: var(--secondary-text-color);
}