.toc {
  margin-top: 15vh;
  padding: 8px;
  width: 240px;
  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.toc-item {
  margin-top: 6px;
  margin-bottom: 6px;
  list-style: inside "🔗 ";
}

.post-title {
  background: linear-gradient(
    to top,
    rgba(252, 169, 15, 0.5),
    rgba(252, 169, 15, 0.5) 14px,
    transparent 14px,
    transparent
  );
}

.nav-bar {
  padding: 0.8rem 2rem;
}

.header-title > div {
  font-family: 'LibreBaskervilleBold', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.header-title > span {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-top: 4px;
}

.header-button {
  background: transparent;
  outline: none;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-button:hover {
  background: rgb(233, 233, 233);
}

.header-button:active {
  background: rgb(206, 206, 206);
}

.tag-item {
  padding: 4px;
  border-radius: 4px;
  background: transparent;
}

.tag-item:hover {
  background: rgb(233, 233, 233);
}

.tag-item:active {
  background: rgb(206, 206, 206);
}