<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <div style="width: 100%; height: 100%; overflow: auto;">
      <%- include('header') %>
      <div style="height: calc(100% - 150px); width: 100%;" class="flex flex-column justify-center items-center">
        <img src="/assets/avatar.jpg" height="200" width="200" style="border: 1px solid rgb(102, 102, 102); border-radius: 50%;">
        <div style="margin-top: 20px;">Ooooops...</div>
        <div style="margin-top: 20px;">Nothing here.</div>
      </div>
      <footer class="flex items-center justify-center" style="left: 0; right: 0; bottom: 16px; position: fixed">
        Copyright © 2023 Karshilov. All rights reserved.
      </footer>
    </body>
    </div>
</html>
