<header>
  <!-- Navigation bar -->
  <% if (isMobile) { %>
  <nav class="flex flex-column items-center" style="margin-top: 20px">
    <div class="header-title">
      <div>
        <a href="/" style="color: var(--text-color); text-decoration: none"
          ><%- firstName %>'s Blog</a
        >
      </div>
      <span>Trying is 55.5% of the battle.</span>
    </div>
    <div
      class="flex justify-around"
      style="padding: 6px 12px; margin-top: 12px"
    >
      <a href="/publications" class="header-button">Publications</a>
      <a href="/about" class="header-button">About</a>
    </div>
  </nav>
  <% } else { %>
  <nav
    style="border-bottom: 1px solid rgb(233, 233, 233); position: relative;"
    class="flex items-center justify-between flex-wrap nav-bar w-full h-full"
  >
    <div
      class="flex justify-center items-center"
      style="position: relative; height: 48px; width: 48px"
    >
      <img
        alt="avatar"
        src="/assets/avatar.jpg"
        width="48"
        height="48"
        style="
          border: 1px solid rgb(192, 192, 192);
          border-radius: 50%;
          position: absolute;
        "
      />
      <a
        href="/"
        style="
          display: block;
          height: 48px;
          width: 48px;
          border-radius: 50%;
          position: absolute;
        "
      ></a>
    </div>
    <div class="header-title" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div>
        <a href="/" style="color: var(--text-color); text-decoration: none"
          ><%- firstName %>'s Blog</a
        >
      </div>
      <span>Trying is 55.5% of the battle.</span>
    </div>
    <div>
      <a href="/publications" class="header-button">Publications</a>
      <a href="/about" class="header-button">About</a>
    </div>
  </nav>
  <% } %>
</header>
