<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karshilov's Blog</title>
    <link rel="stylesheet" href="/assets/common-style.css">
    <link rel="stylesheet" href="/assets/components-style.css">
    <link rel="stylesheet" href="/assets/highlight.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
  </head>
  <body>
    <div style="width: 100%; height: 100%; overflow: auto;">
      <%- include('header') %>
      <div class="flex" style="width: 100%; min-height: calc(100vh - 150px);">
        <% if (isMobile) { %>
          <div style="margin-left: 5%; margin-right: 5%; width: 100%;">
            <%- include('list') %>
          </div>
        <% } else { %>
          <div style="margin-left: 25%; margin-right: 25%; width: 100%;">
            <%- include('list') %>
          </div>
         <% } %>
      </div>
    </body>
    </div>
</html>
